body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  min-width: 1200px;
}
.container {
  position: absolute;
  top: 1%;
  left: 50%;
  margin-left: -64.5px;
}
.ghost {
  animation: float 3s ease-out infinite;
}
@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
}
.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
}
.shadow ellipse {
  transform-origin: center center;
}
@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}
.blurImage {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 20px;
  float: left;
  overflow: hidden;
   border-radius:50%;
}
.blurImage:hover img {
  width: 200px;
  height: 200px;
  opacity: 1;
  border-radius: 50%;
  -webkit-filter: blur(0) grayscale(0);
}
.blurImage:hover .blurImage__copy {
  -webkit-filter: blur(10px);
  opacity: 0;
}
.blurImage img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  -webkit-filter: blur(1.5px) grayscale(1);
  transform: translate(-50%, -50%);
  transition: all 1s;
  border-radius: 50%;
}

.blurImage__copy {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  text-align: center;
  font-size: 0.75em;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
}
a{
  text-decoration: none;
  color: black;
}

.menu_contain{
  width: 1040px;top: 40%; left: 0; bottom: 0; right: 0;position: absolute;margin-left: auto;margin-right: auto;
}